# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# compiled executables
visualize/visualize
serial
openmp
pthreads

# output files
*.out

mpi

mpi2.cpp
mpi_orig

test.cpp

mpi2

Report.pdf
